<nav>
    <div class="nav-bar">
        <div class="logo">
            <a href="#"><img [src]="logo" alt=""></a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Eventos<i class='bx bxs-chevron-down htmlcss-arrow arrow'></i></a>  
                    <ul class="sub-menu show">
                        <li *ngFor="let item of eventos"><a href={{item.url}} target="_blank">{{item.nombre}}</a></li>
                    </ul>
                </li>
                <li><a href="#">Talleres INVIL</a></li>
                <li><a href="#">Encuesta de Servicios</a></li>
                <li><a href="#">Ver más<i class='bx bxs-chevron-down htmlcss-arrow arrow'></i></a>
                    <ul class="sub-menu show">
                        <li *ngFor="let item of vermas"><a href={{item.url}} target="_blank">{{item.nombre}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <button>¡Conoce a tu monitor!</button>
    </div>
</nav>
