nav{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 6.5em;
    background: #f9f9f9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
}
.nav-bar{
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}
.nav-bar .menu ul{
    display: flex;
}
.nav-bar .menu ul li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 1em;
}
.nav-bar .menu ul li a{
    text-decoration: none;
    color: black;
    white-space: nowrap;
    line-height: 2em;
}
.nav-bar .menu ul li a:hover{
    color: #005883;
}
.nav-bar .menu ul li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #F0B429, #F47920);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.nav-bar .menu ul .sub-menu.show li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: -1em;
    background: linear-gradient(to right, #F0B429, #F47920);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.nav-bar .menu ul li a:hover::before,
.nav-bar .menu ul .sub-menu.show li a:hover::before {
    transform: scaleX(1);
}
.nav-bar .menu li .sub-menu{
    position: absolute;
    top: 1.5em;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    border-radius: 0.5em;
    display:none;
    z-index: 2;
}
.nav-bar .menu ul .sub-menu.show li a{
    margin-top: 1em;
    margin-left: -2em;
}
.nav-bar .menu li:hover .show{
    display: block;
}
.nav-bar .menu li:hover .htmlcss-arrow{
    transform: rotate(180deg);
}
.nav-bar .menu li:hover .arrow{
    transition: all 0.3s ease;
}
.nav-bar button{
    font-size: 1em;
    background-color: #005883;
    border-color: #005883;
    color: white;
    padding: 0.7em;
    border-radius: 1em;
    cursor: pointer;
}
.nav-bar button:hover{
    background-color: #F8712E;
    border-color: #F8712E;
    color:black;
}
